header {
  background-color: #4a90e2;
  color: #ffffff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
}

img{
  padding: 20px;
  padding-left: 50px;
}

header span {
  font-size: x-small;
  padding-right: 50px;
}
